version: 2
updates:
  - package-ecosystem: github-actions
    directory: "/"
    schedule:
      interval: weekly
    open-pull-requests-limit: 10

  - package-ecosystem: pip
    directory: "/"
    schedule:
      interval: weekly
    open-pull-requests-limit: 10
    groups:
      python-dev-dependencies:
        applies-to: version-updates
        dependency-type: development
      python-production-dependencies:
        applies-to: version-updates
        dependency-type: production
